body {
	background:lightblue ;
}
h1{
	font-size: 100px;
	text-align: center;
	color: hotpink ;
	font-family:  "Courier New" ;
}
.nav_bar {
	border: solid black 5px ;
}
.nav_bar li:hover{
        color: red ;       
}
.nav_bar li { 
	font-size: 50px;
	display:inline ;
	margin: 35px 35px;
	text-decoration-color: none;

}