
body {
	background:lightblue ;
}
h1{
	font-size: 100px;
	text-align: center;
	color: hotpink ;
	font-family:  "Courier New" ;
}
.nav_bar {
	border: solid black 5px ;
	background-image: url(../images/baby1.jpg);
}
.nav_bar a:hover {
	color: red ;       
}
.nav_bar li { 
	font-size: 30px;
	font-weight: 700;
	display:inline ;
	margin: 35px 35px;
}
.nav_bar li a{ 
	text-decoration: none;
	color: black;
 }
.teeth li{
	font-size: 20px;
}
.teething_stages {
	text-align: left;
	font-size: 40px;
	color: hotpink;
}

.walk{
	font-size: 30px;
	color: hotpink;	
}
.how_to_walk{
	font-size: 20px;
}
.speak{
	font-size: 30px;
	color: hotpink;
}
.how_to_speak{
	font-size: 20px;

}
.sleep{
	font-size: 30px;
	color: hotpink;
}
.how_to_sleep{
	font-size: 20px;

}
.feeding{
	font-size: 30px;
	color: hotpink;
}
.foods{
	font-size: 20px;
}

