
{%extends "layout.html"%}
<head>
{%block head%}
<link rel="stylesheet" type="text/css" href="../static/stylesheets/style.css">
{%endblock%}
</head>
{%block body%}
<body>
<h1 class="teething_stages"> Teething stages </h1>
<ul class="teeth">
	<li> Lower front teeth appear from the fourth to the seventh month.</li>

	<li> The appearance of the upper front teeth from the sixth month until the eighth month approx.</li>
	<li>The appearance of upper side incisions from the ninth to the eleventh century approx.</li>
	<li> The lower side incisors appear from the 10th to the 12th month.</li>

	<li> The molars appear from the twelfth month until the sixteenth month.</li>

	<li> The second molars appear from the 20th to the 30th month.</li>

	<li>The growth of lactic teeth in children is almost three to five years old.</li>

	<li>The number of white teeth is approximately twenty years old.</li>

	<li>Children begin to switch their teeth at age six.</li>

	<li> The tooth replacement ends up to about 15 years of age.</li>
</ul>


<h4 class="walk">Teaching the child to walk</h4>
<ul class="how_to_walk">
	<li> Make a home for the child so he can walk freely without fear of stumbling while walking.</li>
	<li>Exit the child into open areas where he can move freely and motivate him on the enemy with great strides such as parks and clubs.</li>

	<li> Buying games that the child can drag and walk with; this increases the effectiveness and motivation of the child to walk.</li>

	<li> The child will not be forced to walk because this subject is related to the child's will and the strength of his muscles. Before this stage,the child will not be able to walk.</li>
	<li> Nutrition is very important for strengthening the bones and muscles of the child; therefore, it is necessary to increase the sources of vitamin D, calcium, and phosphoric foods such as milk, meat, vegetables and fruits.</li>

	<li>Raise the child's favorite objects to a slightly higher level so that they try to pull them up by pulling their body up to the top and leaning on their feet to reach them; this trick helps to strengthen the leg muscles in the child.</li>

	<li>Sports kicking: It helps to strengthen the muscles of the feet in the child, and carry the child to the top and let him waving his feet in the air, kicking and dancing with successive movements and strong, and these movements increase the readiness of the child to walk.</li>

	<li> Leave the child barefoot so that he can install himself on the ground without obstacles to be afraid of skiing or stumbling during walking, such as: wearing thick leather shoes. Leaving the child to bring his own objects without the help of the mother, such as: bringing distant things, and not bow to the desire of the child when crying by bringing things to him.</li>

</ul>
<h5 class="speak">Teaching the child to speak</h5>
<ul class="how_to_speak">
	<li>Try to make your child be small sentences rather than sporadic words and if you do not tell him that he has used the word wrong and correct his whole sentence to repeat it in front of him</li>

	<li>Read books aloud to your child, who helps them learn to make sentences.</li>

	<li>Sing in front of your child There are many children's chants that contain harmonized words to make them easier to memorize.</li>

	<li>It is also helpful to take the child to the market or park until he listens to new sounds and learns new forms.</li>

	<li>Make choices for your child by choosing between two choices, for example, asking if you want an apple or a banana with his definition.</li>

</ul>
<h6 class="sleep">How to Sleep a Child</h6>
<ul class="how_to_sleep">
	<li>In the first months, the mother should not put a pillow under the baby's head so that she does not have flexions in her spine. If she wants to use a pillow, she should be soft and put it from the back to the head so that the spine remains straight. The mother should try as much as possible to avoid doing things Which can become associated with the child's sleep gradually, such as shaking or walking.</li>

	<li>It is necessary to warm the child's stomach well before sleeping, so as not to feel cold and never get swollen and vomiting when he is asleep.</li>

	<li>Not to accustom the child to sleep in a calm environment, but must be accustomed to sleep in all circumstances; because the habit of sleeping in a certain atmosphere will wear the mother a lot if the circumstances change</li>

	<li>It is recommended that the mother take her baby before he sleeps. This changes the child's behavior and mood and makes him sleep very happily. It is always recommended that the mother take her baby to sleep, and that her presence before sleeping gives him more safety.</li>

	<li>The mother must take her baby to sleep in a certain period until his biological clock adjusts, which restores his body. It is best after the first year that the child gets used to sleeping in his own room until he gets used to sleeping away from the mother, which relieves her.</li>

	<li>The mother can operate the creamy villages in the child's room with a quiet voice, which will comfort them. She can also sprinkle a few oils that calm the nerves, such as lavender oil, but in very small quantities so as not to harm the child's respiratory system.</li>

</ul>


</body>
{%endblock%}