{%extends "layout.html"%}
{%block body%}


<div class="firstimg">
		<div class="mainimg">
			<img src="../static/images/foodpict.jpg"
			height="80%" width="100%" class="image"></img>
		</div>
	</div>



<h1>feeding</h1>
<h2>For many parents, buying and preparing healthy foods is pretty easy. Its getting your child to actually eat those nutritious foods thats the hard part! This makes mealtimes frustrating and leaves parents often wondering if their child is getting enough nutrients. If this is the case in your home, then read this page.</h2>

<div class="food1">
			<img src="../static/images/img2.jpg" height=300px width=300px class="food1" > </img>
			</div>
<h2>What foods should not pass a day without being eaten by the child?</h2>
<p>Of course, milk or milk in case the child does not want to eat milk and starches of bread or rice or pasta because it is the main source of vegetables and fruits to focus on the introduction within the diet daily to first to instill healthy eating habits in children and contain the necessary fibers and vitamins and minerals and diversification of protein sources of meat or Fish, chicken and legumes.

<div class="food2">
			<img src="../static/images/bobo.jpg" height=300px width=300px class="food2" > </img>
			</div>

<h2>What is the list of prohibitions (the most harmful foods or drinks) on which children should be totally prevented or severely reduced?
</h2>
<p>Soft drinks and energy drinks
Minimize fried foods such as potatoes and burgers
  Desserts that contain a large amount of colors and industrial flavors
Desserts in large quantities
You should reduce the juice especially because it contains a large amount of sugars Preferably choose the types that contain 100% natural juice and not be a drink or cocktail fruit because most of these types are water, sugar, colors and flavors of industrial
</p>
<h2>How there food must look like to be healthy?</h2>

<h2>
	
	Breakfast
</h2>
<p>Always encourage your kids to eat breakfast. Any breakfast is better than nothing; however, emerging evidence shows that lower-GI foods may be a better choice. Great options include:</p>
<div class="food3">
			<img src="../static/images/img5.jpg" height=300px width=300px class="food3" > </img>
			</div>

<ul>
	<li>A boiled egg with wholegrain toast</li>
	<li>Baked beans served on a grainy English muffin</li>
	<li>Porridge cooked with apple and served with a dollop of yogurt</li>
	<li>2 Weetabix with milk and sliced banana</li>

</ul>






<h2>Ideas to get kids to eat up!</h2>
<div class="food4">
			<img src="../static/images/beda.jpg" height=300px width=300px class="food4" > </img>
			</div>

<ul>
	<li>Make fruit more exciting with a fruit slaw. Cut apple, firm mango, peaches and plums into fine matchsticks, add a few blueberries and toss together with alittle lime juice. Serve in tubs.</li>
	<li>Swap the tuna mayonnaise in their sandwiches for tinned mackerel or salmon mixed with mayonnaise  these will provide a higher amount of essential omega-3 fatty acids.</li>
	<li>Freeze berries, banana slices or grapes before packing into containers  they will defrost by lunchtime but keep ?the lunchbox cool.</li>
	<li>nstead of a sandwich, give them? a little tub of houmous with blanched broccoli, raw carrot, red pepper or cucumber sticks for dipping.</li>
	<li>Write a message or your? childs name onto a boiled egg or a banana skin.</li>
	
</ul>
























{%endblock %}
