{%extends "layout.html"%}
{%block body%}


<div class="firstpic">
		<div class="singleimage">
			<img src="../static/images/img1.jpg"
			height="100%" width="100%" class="image"></img>
		</div>
	</div>
<h2>Welcome to parenthood</h2>

<div class="introduction">
	<p>it's quite a ride! Have questions about baby sleep habits, baby care and feeding, health, development, and safety? We can help you solve breastfeeding and baby sleep problems, start solid foods, handle crying, know what your baby's ready for, identify baby illnesses, track your baby's weekly development, find great childcare and baby activities, and more.</p>
<h2>  Today's Advice </h2>
<h3>  {{Advice}}  </h3>

<h4> who we are </h4>
	<div class="ourpic">
		<img src="../static/images/renan.jpg"height="200px" width="auto" class="image"></img>
		<img src="../static/images/khaled.jpg"height="200px" width="auto" class="image"></img>
		<img src="../static/images/bakeza.jpg"height="200px" width="auto" class="image"></img>
    </div>

<div class="renan">
	<p>Renan Sa'ed,16 years old,high schooler,basketballer,Access alumni,wecode student.</p>
</div>
<div class="Khaled">
	<p>Khaled Alhindawy,16 years old,footballer,Access student,wecode student.</p>
</div>
<div class="Bakeza">
	<p>Bakeza Diazada,15 years old,designer,wecode student</p>
</div>



{%endblock %}






